<h1>Hello</h1>

<p> <b>Method:</b> GET</p>
<p> <b>URL:</b> http://localhost:3000/check-current-date</p>
<p> <b>Response:</b></br>
<p> <i>Error:</i> {{error}}</p>
<p> <i>Message:</i> {{message}}</p>
<p> ===> <b><i>{{result.message}}</i></b> </p>
<b>Json Data</b>
<p>City name: {{result.jsonData.city_name}}</p>
<p>lat: {{result.jsonData.lat}}</p>
<p>lon: {{result.jsonData.lon}}</p>
<p>timezone: {{result.jsonData.timezone}}</p>

</p>